<h1><%= msg %></h1>
<form action="/control/" method="POST">
  <input type="hidden" name="web" value="1" />
  <select name="Body">
    <option value="on">Turn On</option>
    <option value="off">Turn Off</option>
  </select>
  <br />Phone Number: <input type="text" name="From">
  <br /><input type="submit" />
</form>