<form action="/control/" method="POST">
  <select name="Body">
    <option value="on">Turn On</option>
    <option value="off">Turn Off</option>
  </select>
  <br />Phone Number: <input type="text" name="From">
  <br /><input type="submit">
</form>