<h1><%= msg %></h1>
<form action="/control/" method="POST">
  <select name="Body">
    <option value="on">Turn On</option>
    <option value="off">Turn Off</option>
  </select>
  <br /><input type="submit" />
</form>